/* Remove all underlines by default */
a {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: pointer !important;
}

/* Underline on hover for all links */
a:hover {
  text-decoration: underline !important;
}
